table {
    box-sizing: border-box;
}

.contacts-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.contacts-table .contacts-table-header {
    background-color: #645cbb79;
}

.row-icon {
    display: flex;
}

.table-contacts-row td {
    padding: 0.2rem 0.5rem;
}
