table {
    box-sizing: border-box;
}

.contacts-table {
    width: 80vw;
    margin: 1rem auto;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.contacts-table .contacts-table-header {
    background-color: #645cbb79;
}

.row-icon {
    display: flex;
}

.table-contacts-row td {
    padding: 0.2rem 0.5rem;
}

.search-contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}